{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
{% if results %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">

	{% for artist in results.artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
 
    
	{% for area in results.artists_city %}
		<h3>{{ area.city }}, {{ area.state }}</h3>
			<ul class="items">
				{% for artist in results.artist %}
				{% if artist.artistCityAndState.id == area.id %}
				<li>
					<a href="/artists/{{ artist.id }}">
						<i class="fas fa-music"></i>
						<div class="item">
							<h5>{{ artist.name }}</h5>
						</div>
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}

	{% else %}
	<ul class="items">
		<li>
			
			
				<div class="item">
					<h1>Please enter something in the search box</h1>
				</div>
			
		</li>
	</ul>
	
		<!-- {% for artist in results.artist %}
		
			<li>
				<a href="/artists/{{ artist.id }}">
					<i class="fas fa-users"></i>
					<div class="item">
						<h5>{{ artist.name }}</h5>
					</div>
				</a>
			</li>
			
			{%endfor%} -->
{% endif %}

</ul>
{% endblock %}